.article-form {
  width: 874px;
  margin: 34px auto 0;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0.6087964177131653px 2.9332919120788574px 0px #00000005;
  box-shadow: 0px 1.4630224704742432px 7.049108028411865px 0px #00000007;
  box-shadow: 0px 2.7547414302825928px 13.272845268249512px 0px #00000009;
  box-shadow: 0px 4.91398811340332px 23.67648696899414px 0px #0000000b;
  box-shadow: 0px 9.19107437133789px 44.28426742553711px 0px #0000000d;
  box-shadow: 0px 22px 106px 0px #00000012;
  background-color: #ffffff;
  padding: 48px 32px;

  h2 {
    color: #262626;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  button {
    background: #1890ff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    margin: 0;
    padding: 8px 0;
    cursor: pointer;
    transition: 0.3s;
    width: 319px;

    &:hover {
      background-color: rgba(83, 196, 26, 0.7);
    }
  }

  &__button_disabled {
    background: #46a1f6 !important;
    opacity: 0.5;
    cursor: default !important;

    &:hover {
      opacity: 0.5 !important;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0;
    margin: 0;
  }

  label {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  input {
    margin: 0;
    border: 1px solid;
    border-radius: 4px;
    padding: 8px 12px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  textarea {
    border: 1px solid;
    border-radius: 4px;
    margin: 0;
    padding: 8px 12px;
    height: 150px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  &__tag-list {
    div {
      flex-direction: row;
      gap: 17px;
    }
    button {
      background: none !important;
      height: 40px;
      border: 1px solid;
      margin: 0;
      padding: 8px 40px;
      width: fit-content;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;

      &:hover {
        opacity: 0.8;
      }
    }
    span {
      margin: 0 0 8px;
      padding: 0;
    }

    input {
      width: 272px;
    }
  }
}
